* {
    margin:0;
    padding:0;
}
body{
    background-color:#CCCCCC;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#main{
    width: 225px;
    margin: 0 auto;
    background-color:#FFFFFF;
    padding:24px; /* all */
    /*padding:26px 54px 12px 36px; /* top right bottom left */
    /*padding:26px 54px ; /* top-bottom  left-right*/
    text-align: center;
}
#calculator{
    border: solid 1px #000066;
    background-color: 	#003366;
    padding: 6px;
    margin: 12px 0px ;
    border-radius: 12px;
    width: 200px;
}
#body{
    border: solid 1px #999999;
    background-color:#000033;
    padding: 10px;
}
#display{
    background-color: #FFFFFF;

}
#numInput{
    width: 100%;
    text-align: right;
   
}
.num-btn {
    padding: 10px;
    margin-bottom: 6px;
    margin-right: 3px;
    width: 40px;
    text-align: center;
}
.row {
    display: block;
}
.col {
    display: inline-block;
}
.zero-btn {
    padding: 10px;
    margin-bottom: 6px;
    margin-right: 3px;
    width: 40px;
    text-align: center;
}

.operator {
    background-color:#CCCCCC;
}

.equal-btn{
    padding: 10px;
    margin-bottom: 6px;
    margin-right: 3px;
    width: 40px;
    text-align: center;
}

.clear-btn{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 6px;
    margin-right: 3px;
    width: 168px;
    text-align: center;
}
.inline-block {
    display: inline-block;
    height: 92px;
}
